doctype html
html
    head 
        block title 
        link(rel="stylesheet" href="/assets/css/style.css") 
    body
        include ../partials/header.pug
        block main

        include ../partials/footer.pug
        
        script(src="http://localhost:3000/assets/js/script.js")